*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E5E5E5;
}

button{
    display: block;
    margin: 0 auto;
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    width: 8.31rem;
    height: 2.87rem;
    border: none;
    border-radius: 0.62rem;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 0.93rem;
    line-height: 1.125rem;
    margin-top: 2.37rem;
}

.paragraph{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-bottom: 1.4rem;
}