*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
}


button{
    display: block;
    margin: 0 auto;
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    width: 8.31rem;
    height: 2.87rem;
    border: none;
    border-radius: 0.62rem;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 0.93rem;
    line-height: 1.125rem;
    margin-top: 2.37rem;
}

.paragraph{
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.16rem;
    text-align: center;
    color: #000000;
    margin: 0 2.71rem 1.4rem 2.71rem;
}

#yoga-person{
    display: block;
    margin: 8.875rem auto 6.5rem auto;
}

.dots{
    text-align: center;
    margin-bottom: 5.06rem;
}

.dots div{
    display: inline-block;
}

.dot{
    width: 0.62rem;
    height: 0.62rem;
    background: #323232;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
}
