body{
    background: #3936C0;
    font-family: 'Roboto', sans-serif;
}

img{
    display: block;
    margin: 60px auto 20px auto;
}

textarea{
    margin: 5px auto;
    display: block;
    width: 342px;
    border-radius: 20px;
    text-indent: 20px;
    outline: none;
}


button{  
    display: block;
    margin: 15px auto;
    background-color: black;
    border: none;
    width: 342px;
    height: 74px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}


ul{
    margin: 0px;
    padding: 0px;
}

.item{
    color: #fff;
    background: rgba(255, 255, 255, 0.14);
    font-size: 16px;
    width: 322px;
    display: block;
    text-align: center;
    margin: 20px auto;
    list-style: none;
    padding: 25px 10px;
}

.title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}