*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E5E5E5;
}

.invisible{
    display: none;
}

#logo{
    display: block;
    margin: 12.18rem auto 7.62rem auto;
}

form{
    width: 20rem;
    text-align: right;
    margin: 0 auto; 
}

input{
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 2.87rem;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 0.62rem;
    border: none;
    outline: none;
    text-indent: 1rem;
}

input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 0.81rem;
    line-height: 0.93rem;
    color: #969696;
}

#id_password{
    margin-top: 1.31rem;
}

#forgot{
    font-style: normal;
    font-weight: normal;
    font-size: 0.81rem;
    line-height: 0.93rem;
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 0.4rem;
}

button[type="submit"]{
    display: block;
    margin: 0 auto;
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    width: 8.31rem;
    height: 2.87rem;
    border: none;
    border-radius: 0.62rem;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 0.93rem;
    line-height: 1.125rem;
    margin-top: 2.37rem;
}

.sign-up{
    font-style: normal;
    font-weight: normal;
    font-size: 0.93rem;
    line-height: 1.125rem;
    color: #969696;
    display: block;
    margin: 1.31rem auto 3.87rem auto;
    text-align: center;
    text-decoration: none;
}

.sign-up strong{
    color: #323232;
}

.or{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-bottom: 1.4rem;
}

footer{
    margin-bottom: 2rem;
    text-align: center;
}

img[alt="dots-logo"]{
    margin: 0 1.125rem;
}

@media(max-width: 340px){
    form, input{
        width: 16rem;
    } 
}

@media(max-width: 260px){
    form, input{
        width: 12rem;
    } 
    .sign-up{
        font-size: 0.75rem;
    }
}

@media(max-height: 805px){
    #logo{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
}

@media(max-height: 730px){
    #logo{
        margin-top: 7rem;
        margin-bottom: 4rem;
    }
}

@media(max-height: 665px){
    #logo{
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}
